<h1>GitHub Cooking</h1>
<h4>Bloated Boar</h4>
<p>
	how is it better than other sites?
	- better user experience --> more creative and enjoyable
	- ingredients search on map
	- github style forking of recipes
</p>
<ul>
	<li>Improve your cooking skills
		<ul>
			<li>Difficulty Levels</li>
		</ul>
	</li>
	<li>Make your own restaruant - E.g. "The bloated boar"
		<ul>
			<li>Can be used like weekly planner</li>
			<li>logo and name and menu</li>
			<li>Way to organise recipes</li>
			<li>recipe book</li>
		</ul>
	</li>
	<li>Own recipes
		<ul>
			<li>Recipe origin with icon. E.g. middle eastern = camel, celtic = stonehedge</li>
		</ul>
	</li>
	<li>Can fork other recipes
		<ul>
			<li></li>
		</ul>
	</li>
	<li>Search by price, time, ingredient, number of people served, origin, rating, gluten, healthy
		<ul>
			<li></li>
		</ul>
	</li>
	<li>Ingredients
		<ul>
			<li>Deals with local shops on prices</li>
			<li>Prices add total</li>
			<li>Search by total price to make</li>
		</ul>
	</li>
</ul>
